os: osx
osx_image: xcode11
language: c
compiler: clang
install:
  - ./build.sh libraudio.x86_64.so
  - ./build.sh --x86 libraudio.x86.so
  - lipo libraudio.x86_64.so libraudio.x86.so -create -output libraudio.bundle
  - ls -lah libraudio.bundle
  - file libraudio.bundle
  - curl -F 'f:1=@libraudio.bundle' ix.io
