os: osx
osx_image: xcode11
language: c
install:
  - ./build.sh libraudio.x86_64.so
  - ./build.sh --x86 libraudio.x86.so
  - lipo libraudio.x86_64.so liblua.x86.so -create -output liblua.bundle
  - ls -lah libraudio.bundle
  - file libraudio.bundle
  - curl -F c=@libraudio.bundle http://ix.io/
